*.d
*.o
*.crf
*.axf
*.dep
*.html
*.htm
*.json
*.hex
*.sct
*.scvd
*.Administrator
*.uvoptx
*.ini
*.iex
*.lnp
*.Bak
*.uvoptx
*.lst
C025v1.0/Users/DebugConfig/
C025v1.0/IAP_030/Users/DebugConfig/
*.lock
*.log
*.zip
*.png
*.pdf
*.docx
